<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>543305546502-7sjqh8kelfdusis44o4hr8nt0t4ren2u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.543305546502-7sjqh8kelfdusis44o4hr8nt0t4ren2u</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>543305546502-7p2nh0tli6pbdl9rtc1rh50ijuc4cgci.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBhwvk6Fu7CdamhY7URepzRHOROCIcM3Xw</string>
	<key>GCM_SENDER_ID</key>
	<string>543305546502</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.blueray.wathefty</string>
	<key>PROJECT_ID</key>
	<string>wazefate-f1c6f</string>
	<key>STORAGE_BUCKET</key>
	<string>wazefate-f1c6f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:543305546502:ios:dec1cfdd744c8e92b7fc87</string>
</dict>
</plist>